body,
html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Helvetica Neue", serif;
    line-height: 1.5em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    margin: 10px;
    border-radius: 50%;
}

header li {
    display: inline;
    margin-right: 10px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

main img {
    width: 400px;
}

.description {
    background-color: #eeeeee;
    padding: 50px 100px;
}

.description img {
    float: left;
    margin-right: 30px;
}

.description-p2 {
    clear: both;
    padding-top: 30px;
}

.relationship {
    padding: 50px 100px;
}

.relationship img {
    float: right;
    margin-left: 30px;
}

footer {
    background-color: darkgray;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


